---
# Role for leader election
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "liqo-upgrade-operator.fullname" . }}-leader-election-role
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "liqo-upgrade-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
# RoleBinding for leader election
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "liqo-upgrade-operator.fullname" . }}-leader-election-rolebinding
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "liqo-upgrade-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "liqo-upgrade-operator.fullname" . }}-leader-election-role
subjects:
- kind: ServiceAccount
  name: {{ include "liqo-upgrade-operator.serviceAccountName" . }}
  namespace: {{ .Values.namespace }}

