---
# ClusterRole for the manager
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "liqo-upgrade-operator.fullname" . }}-manager-role
  labels:
    {{- include "liqo-upgrade-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - namespaces
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - cronjobs
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.liqo.io
  resources:
  - foreignclusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  - clusterroles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - upgrade.liqo.io
  resources:
  - liqoupgrades
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - upgrade.liqo.io
  resources:
  - liqoupgrades/finalizers
  verbs:
  - update
- apiGroups:
  - upgrade.liqo.io
  resources:
  - liqoupgrades/status
  verbs:
  - get
  - patch
  - update
---
# ClusterRoleBinding for the manager
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "liqo-upgrade-operator.fullname" . }}-manager-rolebinding
  labels:
    {{- include "liqo-upgrade-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "liqo-upgrade-operator.fullname" . }}-manager-role
subjects:
- kind: ServiceAccount
  name: {{ include "liqo-upgrade-operator.serviceAccountName" . }}
  namespace: {{ .Values.namespace }}

